<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{newEvent.title}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap/css/bootstrap.min.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/font-awesome/css/all.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/datatables/css/jquery.dataTables.min.css}"></link>
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript"
	th:src="@{/datatables/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/font-awesome/js/fontawesome.min.js}"></script>
<script type="text/javascript" th:src="@{/js/newEvent.js}"></script>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<div class="container main-continer">
		<h2 th:text="#{newEvent.title}"></h2>
		<form id="eventForm" th:action="@{/admin/event/create}"
			th:object="${event}" method="post">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
				<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
			</div>
			<div class="input_fields_wrap form-group row">
				<div class="row-20">
					<a href="#"><i class="add_field_button fas fa-plus"></i></a>
				</div>
				<div class="row-10 col-sm-2">
					<input type="date" id="dates" name="dates" th:value="${firstDate}" />
				</div>
				<div class="col-sm-2" th:each="ownerDate : ${ownerDates}">
					<input type="date" th:value="${ownerDate}" id="dates" name="dates" /><a
						href="#" class="remove_field"><i class="fas fa-minus"></i></a>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-2 col-form-label" th:text="#{common.topic}"></label>
				<div class="col-10">
					<input class="form-control" type="text" id="topic" name="topic"
						th:field="*{topic}">
				</div>
			</div>
			<div class="form-group">
				<label th:text="#{newEvent.availableusers}"></label>
				<table id="usersTable" class="display">
					<thead>
						<tr>
							<td></td>
							<td th:text="#{common.user}"></td>
							<td th:text="#{common.name}"></td>
							<td th:text="#{common.surname}"></td>
							<td th:text="#{common.email}">Email</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td><input type="checkbox" class="detectUsersChange"
								th:value="${user.id}" th:field="*{users}"></td>
							<td th:text="${user.nickName}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.surname}"></td>
							<td th:text="${user.email}"></td>
						</tr>
					</tbody>
				</table>
				<div id="users">
					<input type="hidden" name="usersSelected" id="usersSelected"
						th:each="userSelected : ${usersSelected}"
						th:value="${userSelected}" />
				</div>
			</div>
			<div class="form-group">
				<label th.text="#{newEvent.waitinListUsers}"></label>
				<table id="waitingListTable" class="display">
					<thead>
						<tr>
							<td></td>
							<td th:text="#{common.user}"></td>
							<td th:text="#{common.name}"></td>
							<td th:text="#{common.surname}"></td>
							<td th:text="#{common.email}"></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td><input type="checkbox" class="detectWaitingListChange"
								th:value="${user.id}" th:field="*{waitingList}"></td>
							<td th:text="${user.nickName}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.surname}"></td>
							<td th:text="${user.email}"></td>
						</tr>
					</tbody>
				</table>
				<div id="usersWaitingList">
					<input type="hidden" name="waitingListSelected"
						id="waitingListSelected"
						th:each="waitingListSelected : ${waitingListSelected}"
						th:value="${waitingListSelected}" />
				</div>
			</div>
			<div class="form-group">
				<label th:text="#{newEvent.rooms}"></label> <select class="form-control"
					th:field="*{room}">
					<option th:each="room : ${rooms}" th:value="${room.id}"
						th:text="${room.name} + ' (Aforo: ' + ${room.capacity} + ') ' + 'Disponibilidad: [' + ${room.HoursToString} + ']'"></option>
				</select>
			</div>
			<div class="form-group">
				<label th:text="#{common.hours}"></label>
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col" th:each="hour : ${hours}" th:text="${hour}"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row" th:each="hour : ${hours}"><input
								type="checkbox" id="hour" name="hour" th:value="${hour}"
								th:field="*{hours}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group submit">
				<button type="button" name="invitar" class="btn btn-primary" th:text="#{common.invite}"></button>
			</div>
		</form>
	</div>
	<div th:replace="common/footer :: footer"></div>

</body>
</html>