<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/libraries :: libraries"></div>
<title th:title="#{event.preferences.title}"></title>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<div class="container main-continer">
		<h2 th:text="#{event.preferences.description}"></h2>

		<form th:action="@{/event/preferences/create}"
			th:object="${eventPreferences}" method="post">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
				<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
			</div>
			<input type="hidden" name="idUser" id="idUser" th:value="${idUser}" />
			<input type="hidden" name="idEvent" id="idEvent"
				th:value="${idEvent}" />
			<div class="form-group row">
				<label class="col-2 col-form-label" th:text="#{common.date}"></label> <select id="selectDates" name="selectDates">
					<option th:each="ownerDate : ${ownerDates}"
						th:text="${ownerDate.dateFormated}" th:value="${ownerDate.date}"></option>
				</select> <input type="hidden" name="date" id="date" th:field="*{date}" />
			</div>
			<div class="form-group">
				<label th:text="#{common.hours}"></label>
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col" th:each="ownerHour : ${ownerHours}"
								th:text="${ownerHour}"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row" th:each="ownerHour : ${ownerHours}"><input
								type="checkbox" id="hour" name="hour" th:value="${ownerHour}"
								th:field="*{hours}" th:errorclass="errorfield"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" th:text="#{event.preferences.button}"></button>
			</div>
		</form>
	</div>
	<div th:replace="common/footer :: footer"></div>
	<script>
		$('#selectDates').change(function() {
			var value = $(this).val();
			$("#date").val(value);
		});
	</script>
</body>
</html>